{# =====================================
   人気機種キーワード
===================================== #}

<section
    class="popular-keywords-section"
    aria-labelledby="top-keyword-title"
>

    <div class="section-heading">

        <h2
            id="top-keyword-title"
            class="section-title"
        >
            人気機種キーワード
        </h2>

    </div>

    <div class="popular-keywords-list">

        <a
            class="popular-keyword"
            href="{{ root_prefix }}machines/?q=北斗"
        >
            北斗
        </a>

        <a
            class="popular-keyword"
            href="{{ root_prefix }}machines/?q=エヴァ"
        >
            エヴァ
        </a>

        <a
            class="popular-keyword"
            href="{{ root_prefix }}machines/?q=ジャグラー"
        >
            ジャグラー
        </a>

        <a
            class="popular-keyword"
            href="{{ root_prefix }}machines/?q=番長"
        >
            番長
        </a>

        <a
            class="popular-keyword"
            href="{{ root_prefix }}machines/?q=沖ドキ"
        >
            沖ドキ！
        </a>

        <a
            class="popular-keyword"
            href="{{ root_prefix }}machines/?q=からくり"
        >
            からくりサーカス
        </a>

        <a
            class="popular-keyword"
            href="{{ root_prefix }}machines/?q=ヴヴヴ"
        >
            ヴヴヴ
        </a>

        <a
            class="popular-keyword"
            href="{{ root_prefix }}machines/?q=ゴッド"
        >
            GOD
        </a>

        <a
            class="popular-keyword"
            href="{{ root_prefix }}machines/?q=モンキー"
        >
            モンキーターン
        </a>

        <a
            class="popular-keyword"
            href="{{ root_prefix }}machines/?q=リゼロ"
        >
            リゼロ
        </a>

    </div>

</section>