<aside
    class="sidebar"
    aria-label="サイドメニュー"
>
    <section class="sidebar-section">
    
        <h2 class="sidebar-title">
            中古実機を探す
        </h2>
    
        <nav aria-label="中古実機を探す">
            <ul class="sidebar-menu">
    
                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}machines/"
                    >
                        機種一覧
                    </a>
                </li>
    
                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}recent-machines/"
                    >
                        最近導入された機種
                    </a>
                </li>
    
                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}makers/"
                    >
                        メーカー一覧
                    </a>
                </li>
    
                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}price-down-today/"
                    >
                        本日の値下げ
                    </a>
                </li>
    
            </ul>
        </nav>
    
    </section>


    <section class="sidebar-section">

        <h2 class="sidebar-title">
            価格帯から探す
        </h2>

        <nav aria-label="価格帯から中古実機を探す">
            <ul class="sidebar-menu">

                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}price-range/10000-19999/"
                    >
                        1万円台
                    </a>
                </li>

                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}price-range/20000-29999/"
                    >
                        2万円台
                    </a>
                </li>

                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}price-range/30000-39999/"
                    >
                        3万円台
                    </a>
                </li>

                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}price-range/40000-59999/"
                    >
                        4万～6万円
                    </a>
                </li>

                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}price-range/60000-99999/"
                    >
                        6万～10万円
                    </a>
                </li>

                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}price-range/100000-199999/"
                    >
                        10万～20万円
                    </a>
                </li>

                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}price-range/200000-499999/"
                    >
                        20万～50万円
                    </a>
                </li>

                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}price-range/500000-over/"
                    >
                        50万円以上
                    </a>
                </li>

                <li class="sidebar-menu-item sidebar-menu-item-more">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}price-range/"
                    >
                        価格帯一覧
                    </a>
                </li>

            </ul>
        </nav>

    </section>


    <section class="sidebar-section">

        <h2 class="sidebar-title">
            ランキング
        </h2>

        <nav aria-label="価格ランキング">
            <ul class="sidebar-menu">

                <li class="sidebar-menu-item">
                    <a
                        class="sidebar-menu-link"
                        href="{{ root_prefix }}rankings/low-price/"
                    >
                        最安価格ランキング
                    </a>
                </li>

            </ul>
        </nav>

    </section>

</aside>